<% if user_signed_in? %>
    <h1>Welcome to Surf Tackle <%= current_user.user_name %>!</h1>
    <h2>Click <%= link_to "here", items_path %> to view the fishing gear you have added</h2>
    
<% else %>
    <h1>Welcome to Surf Tackle!</h1>
    <h2>Click here to view all fishing gear</h2>
<% end %>