<div class="container">
    <div class="text-center">
    <h1>All Reviews for <%= @item.name %></h1>

                <% @reviews.each do |review| %>
                    <div class="card">
                    <h5><%= review.title %></h5>
                    <p>Stars given: <%= review.stars %></p>
                    <p><%= review.content %></p>
                </div>
            <% end %>
    </div>
</div>
